{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peace Digital</title>
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">PEACE DIGITAL</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>
            <li>
               <!-- <a href="{% url 'dashboard' %}" class="return-button button">Return to Home</a>-->
                <a href="{% url 'dashboard' %}">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="{% url 'signup' %}">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Responses</span>
                </a>
                <span class="tooltip">Responses</span>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-chat'></i>
                    <span class="links_name">Report</span>
                </a>
                <span class="tooltip">Report</span>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Messages</span>
                </a>
                <span class="tooltip">Messages</span>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-cart-alt'></i>
                    <span class="links_name">Settings</span>
                </a>
                <span class="tooltip">Settings</span>
            </li>

            <li>
                <a href="">
                    <i class='bx bx-cart-alt'></i>
                    <span class="links_name">Log out</span>
                </a>
                <span class="tooltip">Log out</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <img src="{% static 'img/logo.jpg' %}" alt="PEACE Logo">
                    <div class="name_job">
                        <div class="name">Peace Digital</div>
                        <div class="job">Web Application</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="text">Enforcer Dashboard</div>
    </section>
</body>

</html>