{% extends 'base_form.html' %}

{% load static %}

{% block content %}
<!-- Display progress report details here -->
<form method="post" action="{% url 'report' %}" class="report-form">
    {% csrf_token %}
    <div class="form-section">
        <h2>Prediction Results</h2>
            <div class="form-field">
                <label for="{{ form.email_address.id_for_label }}" class="required">Email Address:</label>
                {{ form.email_address }}
                {{ form.email_address.errors }}
            </div>
    </div>
<button type="submit" class="generate-button">Generate Report</button>
</form>
{% endblock %}