{% extends 'base_auth.html' %}

{% block title %}Sign in | Peace Digital{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'signup' %}">Officer Sign in</a></h1>
{% endblock %}

{% block content %}
<form method="post" id="login-form">
    {% csrf_token %}
    <div class="form-row">
        <label for="{{ form.badge_no.id_for_label }}" class="required">{{ form.badge_no.label }}:</label>
        {{ form.badge_no }}
        {% for error in form.badge_no.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-row">
        <label for="{{ form.password.id_for_label }}" class="required">{{ form.password.label }}:</label>
        {{ form.password }}
        {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="submit-row">
        <input type="submit" value="Log in">
    </div>
</form>
{% endblock %}
