{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Suspect Report</title>
<link rel="stylesheet" href="{% static 'css/report.css' %}">
</head>
<body>
    <h2>Suspect Report</h2>

    <!-- Form to enter serial number and generate report -->
    <form method="post" action="{% url 'report' %}" class="report-form" id="report-form">
        {% csrf_token %}
        <label for="serial_number">Serial Number:</label>
        <input type="text" name="serial_number" required>
        <div class="button-container">
            <button type="submit" class="generate-button button">Generate Report</button>
            <a href="{% url 'dashboard' %}" class="return-button button">Return to Home</a>
        </div>
    </form>

    <!-- Display progress report details here -->
    <div id="report-details" style="display: {% if report_data %}block{% else %}none{% endif %};">
        <button class="print-button button" onclick="printReport()">Print</button>
        <h3>Report Details :</h3>
        <table>
            <caption>Suspect Report</caption>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Model Accuracy:</td>
                <td>{{ report_data.accuracy }}</td>
            </tr>
            <tr>
                <td>Suspect Identification:</td>
                <td>{{ report_data.name }}</td>
            </tr>
            <tr>
                <td>Case Description:</td>
                <td>{{ report_data.case_description }}</td>
            </tr>
            <tr>
                <td>Predicted Criminal:</td>
                <td>{{ report_data.result }}</td>
            </tr>
        </table>
        <!-- Print Report Button -->
        
    </div>

    <!-- Keys at the bottom of the table 
    <div class="keys">
        <p><strong>Accuracy:</strong> Explanation of accuracy measurement.</p>
        <p><strong>Suspect Identification:</strong> Explanation of suspect identification.</p>
        <p><strong>Case Description:</strong> Explanation of case description.</p>
        <p><strong>Result:</strong> Explanation of result.</p>
    </div>
-->
    <script>
        function printReport() {
            var reportDetails = document.getElementById('report-details').innerHTML;
            var printWindow = window.open('', '_blank');
            printWindow.document.write('<html><head><title>Print Report</title></head><body>');
            printWindow.document.write('<h2>Suspect Report</h2>');
            printWindow.document.write(reportDetails);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        }
    </script>
</body>
</html>
