<!-- signup.html -->
{% extends 'base_auth.html' %}

{% block title %}Sign up | Peace Digital{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'signup' %}">Officer Sign up</a></h1>
{% endblock %}

{% block content %}
<form method="post" id="signup-form">
    {% csrf_token %}
    <div class="form-row">
        <label for="id_badge_no" class="required">Badge Number:</label>
        {{ form.badge_no }}
    </div>
    <div class="form-row">
        <label for="id_password1" class="required">Password:</label>
        {{ form.password1 }}
    </div>
    <div class="form-row">
        <label for="id_password2" class="required">Confirm Password:</label>
        {{ form.password2 }}
    </div>
    <div class="submit-row">
        <input type="submit" value="Sign up">
    </div>
</form>
{% endblock %}
